body {
	font-family: sans-serif;
	font-size: 1.5rem;
}

a {
	padding: 0.5rem;
	box-sizing: content-box;
	text-decoration: none;
}

a:hover,
a:focus {
	text-decoration: underline;
}

.post-box {
	border: 1px solid black;
}
